# Akida (MetaTF) toolchain — https://doc.brainchipinc.com/index.html
akida ~= 2.19.2
cnn2snn ~= 2.19.2
akida_models ~= 1.14.1

# Scientific computing & plotting
matplotlib
scikit-learn
h5py

# Dataset loader for the Keyword Spotting example (Speech Commands via TFDS)
tensorflow-datasets

# JupyterLab theme
jupyterlab-horizon-theme
